@charset "UTF-8";

html {
  font-size: 16px;
}

body {
        font-family: 'Noto Sans JP', sans-serif;

  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.header-wrapper__nav_list__item a{
    font-family: 'Noto Sans JP', sans-serif;

}

li {
  list-style: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
}

header .drawer {
  visibility: hidden;
}


nav.header-wrapper__nav {
    width: 80%;
}


.header-wrapper__logo {
  width: 15rem;
}

.header-wrapper__logo img {
  width: 30%;
}

.top-wrapper.inner {
    aspect-ratio: 2 / 1;

  display: table;
  width: 100%;

  }
  

  .top {
  background-image: url("../img/1246813_s.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
    
}

.top-wrapper__all__left__dw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5% 0;
  position:relative;
  
}

.top-wrapper__all__left{
  
}

.top-wrapper__all__left__dw__one {
   
}

.top-wrapper__all__left__dw__one img {
  margin-right: 50px;
 width: 238px;
    height: 84px;
        margin-bottom:50px


}

.title-wrap{
  display: table;
  width: 100%;
}

.ttl__1{
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}



.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 2%;

}






.f-ttl {
    font-family: 'Noto Serif', serif;

  font-size: 2.75rem;
  color: #fff;
  position: absolute;
  z-index: 1;
  text-align: center; /* テキストを中央に寄せる */
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端を親要素の中央に配置 */
  left: 0; /* 左端を親要素の左端に配置 */
  width: 100%; /* 横幅を親要素の幅に合わせる */
   transform: translateY(-50%) 
  margin: 0; /* マージンをゼロに設定 */
  color: white; /* テキストの色を白に設定（背景に合わせて調整） */
  z-index: 1; /* テキストが背景よりも前面に表示されるようにする */
}

.title-info {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}


.m-news-list .item {
    overflow: hidden;
    will-change: height;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.m-news-list .item a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c2c3cc;
}

.m-news-list .item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12px 128px;
}

 .m-news-list{
    display: block;
    padding: 0 60px;
}

  
.__inner {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}





  .header-wrap__nav {
  width: 70%;
}

table,
table th,
table td {
    border: 1px solid #black
    border-collapse: collapse;
}


.title-info{
  margin-left: 10%;
}

.wrap-philoso{
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.vision{
  margin-bottom:3%;

}


.title-vision{
  margin-bottom: 3%;
}

.content-value{
margin-bottom: 3%;

}

.content-vition{
  margin-bottom: 3%;

}

.integrity-title{
  margin-bottom: 3%;

}

.content-value{
    margin-bottom: 3%;

  
}

.integrity-content{
    margin-bottom: 3%;

}

.box-wrap{
  display: flex;
  justify-content: space-around;
}

.title-exe{
  color: #fff;
  margin-left: 10%;
}


.start-e{
  background-image: url("../img/27677688_s.jpg");
background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;

}

/* 円形にトリミングされた写真を表示するためのスタイル */



.circular-image img {
    width: 250px;
    height: 250px;
    border-radius: 60%;
    border: 5px solid black;
    background-position: center center;
    object-fit: cover;
    
  }
.circular-image {
    margin: 0 auto;
width: 65%;
}





.title-exe{
  padding: 5%;
}

.combi-exe{
padding: 3%;
  text-align: center;
}
/* タイトルのスタイル */
.wrap-explain h1 {
  color: white; /* 文字色を白に設定 */
}

/* 名前のスタイル */
.name-exe h2 {
  color: white; /* 文字色を白に設定 */
  text-align: center;
}

/* 紹介文のスタイル */
.intro-exe  {
  color: white; /* 文字色を白に設定 */
   /* パディングを追加（任意） */
   padding: 3%;

}

.wrap-explain{
  background-color: black; /* 背景色を黒に設定 */
  padding: 10px;
}

.wrap-explain {
    margin-bottom: 5%;
}


.about3-wrapper__map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about3-wrapper__map__block {
  width: 45%;
}

.about3-wrapper__map__block iframe {
  width: 100%;
}

.about3-wrapper__map__block__one {
}

.about3-wrapper__map__block__one:nth-of-type(2) {
  margin-bottom: unset;
}

.about3-wrapper__map__block__one__ttl {
  margin-bottom: 2.5%;
  font-size: 1.5rem;
}

.about3-wrapper__map__block__one__txt {
  font-size: 1.1rem;
}

.number{
  color: #129CE9;
}

.left-inqu{
  width: 100%;
}

.re-touch{
    background-color: #000;


  }


  .service-content{
    background-color: #08193E;
  }
.fee-inqu{
  padding: 0%;
}

.right-inqu{
}
.inquiry {
    background-color: #129CE9; /* 背景色を青に設定 */
    color: white; /* 文字色を白に設定 */
    padding: 15px 20px; /* パディングを追加（任意の値に調整） */
}
.number{
  padding-top: 3%;
}
.wrap-question{
  padding: 3%;
  display: flex;
  justify-content: space-around;
color: #fff;
  width: 55%;
  margin: 0 auto;


}

.left-inqu {
    width: 95%;
}


.right-inqu {
    width: 50%;
}


.footer-wrapper{
color: #fff;
  background-color: #08193E
}

li .footer-wrapper__list a{
  color: #fff;
}

.list-menu{
  display: flex;
  top: 0;
  color: #fff;
  width: 100%;

}


.footer-wrapper__list{
  display: flex;
  justify-content: space-around;
  top: 0;
  color: #fff;
  width: 100%;
}

ul .footer-wrapper__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}

.footer-wrapper__nav__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}



.footer-wrapper__list a{
  color: #fff;
}

.footer-wrapper__list__item a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

/* メニュー項目にホバー時のスタイルを追加（任意） */
.footer-wrapper__list__item a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}



.footer-wrapper__sns {
  text-align: center;
}

.footer-wrapper__sns__icons {
  list-style: none;
  padding: 0;
}

.icon-pic img {
  width: 100px; /* 幅を100pxに設定 */
  height: auto; /* 高さは自動調整 */
    margin-left: 60%;

}

.header-wrapper__list__item a{
  color: #fff;
}




.header-wrapper__nav__list__item a {

color: #000;

}

.inquiry {
}

.footer-wrapper__sns__icon {
  display: inline-block;
  margin-right: 20px; /* アイコン間の間隔を設定 */
}

.wrap-sns{
  margin-right: 5%;
}

/* 他の既存のスタイルはそのまま */
.wrap-snslogo{
  display: flex;
  justify-content: space-between;
}

.footer-wrapper__sns__icon1{
  color:white
}

.socialEffect__link {
  margin: .3em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #bfbfbf;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  transition: transform ease-out 0.2s;
}

.socialEffect__box li {
  display: inline-block;
}


/* インスタ用アイコン設定 */


/* フェイスブック用アイコン設定 */
.icon-facebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-facebook-f {
  display: inline-block;
  color: #fff;
}
.icon-facebook:hover {
  background: #fff;
  transform: scale(0.9);
}



/* ツイッター用アイコン設定 */
.icon-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-twitter {
  display: inline-block;
  color: #fff;
}
.icon-twitter:hover {
  background: #ggg;
  transform: scale(0.9);
}









@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  header .drawer {
  visibility: hidden;
}

  .header-wrapper__nav__list__item a{
    font-size: 10px;

  }
  header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}

}


@media screen and (max-width: 480px){
   
  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

   .display


  header .drawer {
  visibility: hidden;
}
 body{
  font-size: 16px;
 }


  .f-ttl {
    font-size: 1.75rem;

}
  
}






@media screen and (max-width: 414px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }



.f-ttl {
    font-size: 1.75rem;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


 html{
    font-size: 12px;
  }

.number{
  text-align: center;
}

.left-inqu h1{
  text-align: center;
}

.left-inqu {
    text-align: center;
}

  .inquiry{
width: 90%;
  }

.right-inqu {
    width: 95%; 
    text-align: center;
}

.right-inqu {
    width: 100%; 
}

.wrap-question {
    padding: 3%;
    display: block;
 }


.c-articleList-item .c-articleListText {
    background: rgba(255, 255, 255, .95);
    margin: 0 15px;
    padding: -7px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.c-articleList-item .c-articleListText {
    background: rgba(255, 255, 255, .95);
    margin: 0 0px;
     padding: 0px; 
    -webkit-transform: translateY(-30px);
    -
}






  .footer-wrapper__list__item a{
  font-size:10px;

}

.footer-wrapper__nav__list__item a{
  font-size: 10px;}

























  .box-wrap{
    display: block;
  }

  .wrap-explain {
    margin: 5%;
}






}



@media screen and (max-width: 375px){


.about3-wrapper__map__block__one__ttl {
    margin-bottom: 2.5%;
    font-size: 1.0rem;
}


.wrap-explain {
    margin: 5%;
}

.item_head{
  font-size: 12px;
}

.ttl span{
  font-size: 
  12px;
}




ul .footer-wrapper__list__item {
    padding-top: 31px;
    padding-bottom: 51px;
}

.footer-wrapper__nav__list__item {
    padding-top: 31px;
    padding-bottom: 51px;
}




}