@charset "UTF-8";

html {
  font-size: 16px;
}

body {
        font-family: 'Noto Sans JP', sans-serif;

  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}


header{
  width: 100%;
}

.header-wrapper__logo {
    width: 5%;
}
.header-wrapper__logo img {
    width: 100%;
}


a {
  text-decoration: none;
  color: #333;
}

.header-wrapper__nav_list__item a{
    font-family: 'Noto Sans JP', sans-serif;

}

li {
  list-style: none;
}

header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 33px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}

header .drawer {
  visibility: hidden;
}



.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}


.header-wrapper__nav__list__item a{
  color: #000;
}



.drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
}

  border-top: solid 4px #aaaaaa;



nav.header-wrapper__nav {
    width: 100%;
}

.header-wrapper__logo {
    width: 5%;
}
.header-wrapper__logo img {
    width: 100%;
}




.top-wrapper.inner {
    aspect-ratio: 2 / 1;

  display: table;
  width: 100%;

  }
  

  .top {
  background-image: url("../img/1246813_s.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
    
}

.top-wrapper__all__left__dw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5% 0;
  position:relative;
  
}

.top-wrapper__all__left{
  
}

nav.header-wrapper__nav {
    width: 100%;
}

.top-wrapper__all__left__dw__one {
   
}

.top-wrapper__all__left__dw__one img {
  margin-right: 50px;
 width: 238px;
    height: 84px;
        margin-bottom:50px


}

li.f10::after{
  font-weight: 0;
  left: 0%;
}

.wrap-f120 li {
    border: 1px #ddd solid;
    padding: 20px 30px;
    margin-bottom: 50px;
    position: relative;
}

.title-wrap{
  display: table;
  width: 100%;
}

.ttl__1{
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}



.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 2%;

}






.f-ttl {
    font-family: 'Noto Serif', serif;
    font-size: 2.75rem;
    color: #fff;
    position: absolute;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%) margin: 0;
    color: white;
    z-index: 1;
}

.title-info {
  text-align: left;
}


.wrap-part{
margin-bottom:1%;}


.pic-can img {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-exp{
padding-top:5%;
padding-bottom:5%;
margin:0 auto;
width:80%;
}

.wrap-menu {
    margin: 0 auto;
}

.explain-in{
  font-size: 14px;
}

.sentence-business{
  text-align: center;
}

.pic-can{
    position: relative;
width: 97%;

}

.explain-in {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}

.sce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* 背景色（白色の半透明） */
    padding: 10px 20px; /* パディング */
    color: #ffffff; /* テキストの色（白色） */
    text-align: center; /* テキストを中央揃え */
}

.first-three{
  display: flex;
  justify-content: space-between;
}

.sentence-business{
  padding-top: 5%;
  padding-bottom: 5%;
}

.latethree{
  display: flex;
  justify-content: space-between;
}

.latethree {
    display: flex;
    justify-content: space-between;
}

/* .scece内の要素を中央寄せ */
.scece {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.wrap-menu {
    width: 80%;
}
.pic-can
{
}
/* h1要素（文）を中央寄せ */
.explain-in h1 {
    text-align: center;
}

.service-title{
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #fff;
  padding-top:5%;
  text-align: center;
}

.right_in_cont{
  line-height: 1.8;
}

.right_in_ccont{
  line-height: 1.8;


}


.text-exp{
  text-align: center;
}

.wrap, h3 {
    position: relative;
    line-height: 1.4;
    padding: 0.25em 10em;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.column1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.img-top {
    padding-top: 30px;
}

.re-title {
    padding-left: 20px;
}

.re-title h3{
  padding-bottom: 5%;
}

.wrap, h3 {
    position: relative;
    line-height: 1.4;
    padding: 0.25em 10em;
    display: inline-block;
   
}
.wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.column2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.rondo {
    padding-right: 20px;
    padding-bottom: 5%;
}

.rondo>h3 {
    position: relative;
    line-height: 1.4;
    padding: -2.75em 17em;
    padding-bottom: 30px;
    display: inline-block;
}
.rondo>p {
}

.column3 {
    display: flex;
    justify-content: space-between;
}

.service-content{
  background-color: #08193E;
}
.txt3 {
    padding-left: 20px;
    padding-bottom: 5%;
}

.txt3>h3 {
    position: relative;
    line-height: 2.0;
    display: inline-block;
    font-size: 1.0rem;
}


.txt3>p {
    padding-top: 5%;
}

.sentence-business p{
  line-height: 1.8;

}
.main .section {
    position: relative;
    padding: 120px 90px;
    z-index: 4;
}

.flow_list li {
    border: 1px #ddd solid;
    padding: 20px 30px;
    margin-bottom: 50px;
    position: relative;
}

.text-exp  {
    font-size: 20px; /* フォントサイズを設定 */
    color: #333; /* テキストの色を指定 */
    font-weight: bold; /* フォントを太字に設定（必要に応じて変更） */
}


*, ::after, ::before {
    box-sizing: border-box;
}

.fl02, .fl022 {
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cont30 {
    width: 30%;
    position: relative;
}

.cont70 {
    width: 70%;
    position: relative;
}

.flow_list li:after {
    position: absolute;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    bottom: -39px;
    left: 50%;
    margin-left: -7px;
}

.flow_list li {
    border: 1px #ddd solid;
    padding: 20px 30px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 10%;
}

.container {
    width: 60%;
    max-width: 100%;
    margin: auto;
}


.flow_list {
    list-style: none;
    padding-left: 0;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.bt80 {
    margin-bottom: 80px !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.number{
  color: #129CE9;
}

.left-inqu{
}
/* テキストの改行位置の調整と装飾 */
.text-exp p {
    background-color: #08193E; /* 背景色を指定 */
        line-height: 1.6; /* 行間を調整 */

    color: white; /* テキストの色を白に指定 */
    padding: 10px 20px; /* 内側の余白を調整 */
    font-size: 24px; /* フォントサイズを調整 */
    font-weight: bold; /* テキストを太字にする */
    border-radius: 5px; /* ボーダーの角を丸くする */
    margin-bottom: 20px; /* 下側の余白を調整 */
    text-align: center; /* テキストを中央揃え */
}




/* 名前のスタイル */
.name-exe h2 {
  color: white; /* 文字色を白に設定 */
  text-align: center;
}

/* 紹介文のスタイル */
.intro-exe  {
  color: white; /* 文字色を白に設定 */
   /* パディングを追加（任意） */
   padding: 3%;

}

.wrap-explain{
  background-color: black; /* 背景色を黒に設定 */
  padding: 10px;
}


.wrap-menu{
  margin: 0 auto;
}

.img-top img{
  width:330px;
height:220px;}


  .img-top2 img{
  width:330px;
height:220px;

}

.img-top2 {
  margin-top: 30px;
}

.img-con{
  margin-top: 30px;
}

.img-con img{
  width:330px;
height:220px;

}

.txt3 p{
  font-size: 16px;
}


.rondo p{
  font-size: 0.5rem;

}



.re-title p{
  width:100%;
font-size:16px;
color: #fff;}

.re-title h3{
  color: #fff;
  font-size: 1.0rem;
}

.rondo p {
    color: #fff;
    font-size: 16px;
}

.rondo h3{
  color: #fff;
    font-size: 1.0rem;

}

.txt3{
  color: #fff;
    font-size: 20px;

}

.wrap-explain {
    margin-bottom: 5%;
}

.section-title{
  margin-top: 5%;
font-size: 2.5rem;
margin-bottom: 5%;
}


.about3-wrapper__map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about3-wrapper__map__block {
  width: 45%;
}

.about3-wrapper__map__block iframe {
  width: 100%;
}

.about3-wrapper__map__block__one {
}

.about3-wrapper__map__block__one:nth-of-type(2) {
  margin-bottom: unset;
}

.about3-wrapper__map__block__one__ttl {
  margin-bottom: 2.5%;
  font-size: 1.5rem;
}

.about3-wrapper__map__block__one__txt {
  font-size: 1.1rem;
}

.number{
  color: #129CE9;
}

.left-inqu{
}

.re-touch{
    background-color: #000;


  }
.fee-inqu{
  padding: 0%;
}

.right-inqu{
}

.left-inqu h1 {
  padding-bottom: 5%;

}

.fee-inqu h2{
  padding-top: 5%;
  padding-bottom: 5%;
}


.right-inqu h2 {
  padding-bottom: 5%;
   line-height: 1.8;
}
.inquiry {
    background-color: #129CE9; /* 背景色を青に設定 */
    color: white; /* 文字色を白に設定 */
    padding: 15px 20px; /* パディングを追加（任意の値に調整） */
}
.inquiry-button {
    color: white;
}
.number{
  padding-top: 3%;
}

.number {
    font-size: 24px;
}
.wrap-question{
  padding: 3%;
  display: flex;
  justify-content: space-around;
color: #fff;
  width: 80%;
  margin: 0 auto;
}

.footer-wrapper{
color: #fff;
  background-color: #08193E
}

li .footer-wrapper__list a{
  color: #fff;
}


.footer-wrapper__list{
  display: flex;
  justify-content: space-around;
  top: 0;
  color: #fff;
  width: 100%;
}

ul.footer-wrapper__list {
    margin: auto;
}

.footer-wrapper__list li{
  color: #fff;
}

.footer-wrapper__list__item a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

/* メニュー項目にホバー時のスタイルを追加（任意） */
.footer-wrapper__list__item a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}


.footer-wrapper__sns {
  text-align: center;
}

.footer-wrapper__sns__icons {
  list-style: none;
  padding: 0;
}

.icon-pic img {
  width: 100px; /* 幅を100pxに設定 */
  height: auto; /* 高さは自動調整 */

}
.wrap-sns{
  margin-left: 10px;
}

.youtube-wrap{

  margin-right: 10%;
}
.twitter-icon{
}

.footer-wrapper__sns {
    display: flex;
    justify-content: space-between; /* 画像を横並びに配置 */
    list-style: none; /* 点マークなどを非表示に */
    padding: 0; /* パディングをリセット */
}

.socialEffect__box {
    display: inline-block;
    margin: 0;
}

.wrap-sns {
    margin-left: 905px;
}
.wrap-sns {
    margin-top: 6px;
}

.footer-wrapper__sns__icon {
  display: inline-block;
  margin-right: 20px; /* アイコン間の間隔を設定 */
}

/* 他の既存のスタイルはそのまま */
.wrap-snslogo{
  display: flex;
  justify-content: space-between;
}

.footer-wrapper__sns__icon1{
  color:white
}

.footer-wrapper__nav__list__item a{
  color: #fff;
}

ul .footer-wrapper__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}

.footer-wrapper__nav__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}


.socialEffect__link {
  margin: .3em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #bfbfbf;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  transition: transform ease-out 0.2s;
}

.socialEffect__box li {
  display: inline-block;
}



/* インスタ用アイコン設定 */


/* フェイスブック用アイコン設定 */
.icon-facebook::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-facebook-f {
  display: inline-block;
  color: #fff;
}
.icon-facebook:hover {
  background: #fff;
  transform: scale(0.9);
}



/* ツイッター用アイコン設定 */
.icon-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-twitter {
  display: inline-block;
  color: #fff;
}
.icon-twitter:hover {
  background: #ggg;
  transform: scale(0.9);
}






@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  .header-wrapper__nav__list__item a{
    font-size: 10px;

  }
  header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}

}

@media screen and (max-width: 480px) {


  header .drawer {
    top: 16px;
}


.number{
  text-align: center;
}

.left-inqu h1{
  text-align: center;
}

.left-inqu {
    text-align: center;
}
  
}


   @media screen and (max-width: 414px) {

   html{
    font-size: 12px;
  }

  .f-ttl {
    font-size: 1.75rem;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.text-exp {
    text-align: center;
    font-size: 12px;
}

.img-top img {
    width: 100%;
}

.wrap{
  padding: 0px;
}

.column1 {
    display: block;
    justify-content: space-between;
}

.img-top2 img{
  width: 100%;
}
.re-title p{
      margin: 0 auto;
width: 80%;
}

.rondo p{
      margin: 0 auto;
      width: 80%;


}

.c-articleList-item .c-articleListText {
    background: rgba(255, 255, 255, .95);
    margin: 0 15px;
    padding: -7px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}



h2.section-title {
    text-align: center;
}

.img-top {
    padding-top: 0px;
}

.service-title{
  text-align: center;
}


.number{
  text-align: center;
}
.txt3 p{
      margin: 0 auto;
      width: 80%;


}

.number{
  text-align: center;
}

.left-inqu h1{
  text-align: center;
}

.left-inqu {
    text-align: center;
}

.img-con img {
    width: 100%;
}


.re-title {
    padding-top: 30px;
    padding-left: 0px;
}

.column2{
  display: block;
}

.column3{
  display: block;
}

.section-title{
  padding-top: 3%;
  padding-bottom: 3%;
}

.right-inqu {
    width: 100%;
}

.inquiry {
    background-color: #129CE9;
    color: white;
    padding: 15px 90px;
}

  .footer-wrapper__list__item a{
  font-size:10px;

}

.footer-wrapper__nav__list__item a{
  font-size: 10px;}


  .wrap-question {
    padding: 3%;
    display: block;}


}


@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }


.sentence-business {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 12px;
}

.inquiry {
    background-color: #129CE9;
    color: white;
    padding: 15px 36px;
}



}






















@media screen and (max-width: 375px){


.about3-wrapper__map__block__one__ttl {
    margin-bottom: 2.5%;
    font-size: 1.0rem;
}


.wrap-explain {
    margin: 5%;
}

.item_head{
  font-size: 12px;
}

.ttl span{
  font-size: 
  12px;
}

.re-title h3 {
    color: #fff;
    font-size: 12px;
}

.re-title p {
    width: 100%;
    font-size: 10px;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}

.rondo {
    padding-right: 0;
    padding-bottom: 0;
}

.rondo h3 {
    color: #fff;
    font-size: 12px;
}
.rondo p {
    margin: 0 auto;
    width: 80%;
    font-size: 10px;
}
.txt3>h3 {
    position: relative;
    line-height: 1.4;
    display: inline-block;
    font-size: 12px;
}

.txt3 p {
    margin: 0 auto;
    width: 80%;
    font-size: 10px;
}

.cont30
{
  font-size: 12px;
}

.cont70{
  font-size: 10px;
}


h2.section-title {
    text-align: center;
    font-size: 14px;
}
ul .footer-wrapper__list__item {
    padding-top: 31px;
    padding-bottom: 51px;
}

.icon-pic img {
    width: 45px;
    height: auto;
     margin-left: 0; 
}
.footer-wrapper__nav__list__item {
    padding-top: 31px;
    padding-bottom: 51px;
}
}