@charset "UTF-8";

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Serif', serif;

  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

header#header {
    margin: 0 auto;
}


header{
  width: 80%;
}

.comment-create {
    line-height: 1.8;
}
a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
}

header .drawer {
  visibility: hidden;
}

.header-wrapper {
    text-align: center;
}

header .drawer {
  visibility: hidden;
}

nav.header-wrapper__nav {
    width: 80%;
}


.header-wrapper__logo {
  width: 15rem;
}

.header-wrapper__logo img {
  width: 30%;
}

.top-wrapper.inner {
    aspect-ratio: 2 / 1;

  display: table;
  width: 100%;

  }
  

  .top {
  background-image: url("../img/27547394_s.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
    
}

.top-wrapper__all__left__dw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5% 0;
  position:relative;
  
}

.top-wrapper__all__left{
  
}

.top-wrapper__all__left__dw__one {
   
}

.top-wrapper__all__left__dw__one img {
  margin-right: 50px;
 width: 238px;
    height: 84px;
        margin-bottom:50px


}

.title-wrap{
  display: table;
  width: 100%;
}

.ttl__1{
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}




.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1.1rem;
  font-weight: ;
  margin: 0 2%;
  font-family: 'Noto Sans JP', sans-serif;

}

.header-wrapper__nav_list__item a{
    font-family: 'Noto Sans JP', sans-serif;

}






.f-ttl {
  font-size: 2.75rem;
  font-family: 'Noto Serif', serif;
;
  color: #fff;
  position: absolute;
  z-index: 1;
  text-align: center; /* テキストを中央に寄せる */
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端を親要素の中央に配置 */
  left: 0; /* 左端を親要素の左端に配置 */
  width: 100%; /* 横幅を親要素の幅に合わせる */
   transform: translateY(-50%) 
  margin: 0; /* マージンをゼロに設定 */
  color: white; /* テキストの色を白に設定（背景に合わせて調整） */
  z-index: 1; /* テキストが背景よりも前面に表示されるようにする */
}

  






  .header-wrap__nav {
  width: 70%;
}

.title-fun{
  text-align: center;
}


.news-wrap {
  display: flex;
}

.__inner {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.news-wrap__ttl {
  width: 25%;
}

.s-ttl__1 {
  display: inline-block;
  font-size: 2.5rem;
  font-family: Noto;
}

.s-ttl__1::after {
  content: "";
  display: block;
  width: 80px;
  margin: 0 auto;
  height: 3px;
}

li.news-wrap__con__list__item {
    margin-top: 3%;
}

.s-ttl__1 span {
  display: block;
  font-size: 1rem;
}



.news-wrap__con__list__item {
  display: flex;
  align-items: center;
  font-size: 25px;
  border-bottom: dotted 1.5px #ccc;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
}

.news-wrap__con__list .news-wrap__con__list__item a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c2c3cc;
}


.news-wrap-botton::before{
	left: 4px;
	box-sizing: border-box;
	width: 4px;
	height: 4px;
	border: 4px solid transparent;
	border-left: 4px solid #fff;
}


.news-wrap-botton {
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  color: #fff;
}

.news-wrap-botton a{
    color: #fff;

}

/* ボタンのスタイル */
.news-wrap-button {
  left: 58%;
  margin-bottom: 5%;
}

.news-wrap-button a {
  background-color: #129CE9;
  color: #fff; /* テキストの色を白に設定 */
  padding: 5px; /* テキスト周りの余白を設定 */
}

/* ➔アイコンのスタイル */
.icon-arrow {
  margin-left: 5px; /* アイコンの左側に余白を追加 */
  font-size: 14px; /* フォントサイズを調整（アイコンフォントを使用する場合） */
  /* または、画像を使用する場合
  width: 14px;
  height: 14px;
  */
}


.news-wrap-botton,
a.news-wrap-botton {
  background-color: #129CE9;
}
.news-wrap-botton:hover,
a.news-wrap-botton:hover {
  color: #fff;
  background: #129CE9;
}

.news-wrap-botton {
    left: 58%;
    margin-bottom: 5%;
}

.intro-cre{
  background-color: #252421;
  color: #fff;
}

.comment-create {
    text-align: center;
}

.wrap-pic{
  display: flex;
  justify-content: space-evenly;
}

.comment-create {
line-height: 1.8;
}
.intro {
width: 40%;
}

.ph {
margin: 10px;
}


.ph img{
width: 100%;
height:100%;
  
}
.ph img{
width: 100%;
height:100%;
}

.ph img{
width: 100%;
height:100%;
  
}
.create-title{
text-align: center;
    padding: 5%;
    font-size: 2.5rem;
    font-family: Noto;
}



.create-title p{
  text-align: center;
}

.ph {
    position: relative; /* 親要素を相対位置に設定 */
}



.wrap-ph{
  display: flex;
  justify-content: center;
}

.wrap-ph>img{

  width: 100%;
  height: 100%;
  
}

.pic-menu{
   width: 100%;
  height: 100%;
 
}

.pn img{
  width: 100%;
  height: 100%;
  display: block;
}

.pn {
  position: relative;
  background-size: cover;
  background-position: center;
  }

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px -1px;
    border-radius: 5px;
}
.ph {
  position: relative;
  display: inline-block; /* 画像を連続して並べるために必要なスタイル */
}

.ph::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 黒色の半透明背景色（0.5は透明度を調整する値） */
  
}

/* マウスオーバー時にオーバーレイを表示 */
.ph:hover::after {
  opacity: 1; /* マウスオーバー時にオーバーレイを表示 */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* その他のスタイリング */
}


.pn {
    position: relative; /* 追加：相対位置に設定 */
    display: flex; /* 追加：フレックスコンテナにする */
    align-items: center; /* 追加：垂直方向に中央揃え */
    width: 100%;
}

.pn p {
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    color: white;
}



/* 画像に黒いオーバーレイを追加 */
.pic-menu {
  position: relative;
}

.pic-menu::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5); /* 黒色のオーバーレイ（0.5は透明度を調整） */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 オーバーレイがフェードする時間 */
}

/* オーバーレイを表示（マウスホバー時など） */
.pic-menu:hover::before {
  opacity: 1;
}

/* オーバーレイ内のテキストスタイル */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* テキストの色を白に設定 */
  text-align: center;
  z-index: 1; /* テキストがオーバーレイの上に表示されるように */
}




.footer-wrapper{
color: #fff;
  background-color: #08193E
}

li .footer-wrapper__list a{
  color: #fff;
}


.footer-wrapper__list{
  display: flex;
  top: 0;
  color: #fff;
  width: 100%;
}

ul.footer-wrapper__list {
    margin: auto;
    justify-content: space-around;
    color: #fff;
}

.footer-wrapper__list li{
  color: #fff;
}

.footer-wrapper__list__item a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

/* メニュー項目にホバー時のスタイルを追加（任意） */
.footer-wrapper__list__item a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

li.footer-wrapper__list__item {
    color: #fff;
}

.header-wrapper__list__item a{
  color: #fff;
}


.footer-wrapper__nav__list__item a{
  color: #fff;
  
}



ul .footer-wrapper__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}

.footer-wrapper__nav__list__item{
  padding-top: 51px;
  padding-bottom: 51px;
}




.footer-wrapper__sns {
  text-align: center;
}

.footer-wrapper__sns__icons {
  list-style: none;
  padding: 0;
}

.icon-pic img {
  width: 100px; /* 幅を100pxに設定 */
  height: auto; /* 高さは自動調整 */
  margin-left: 60%;
}

.wrap-sns{
  margin-right: 5%;
}


.footer-wrapper__sns__icon {
  display: inline-block;
  margin-right: 20px; /* アイコン間の間隔を設定 */
}

/* 他の既存のスタイルはそのまま */
.wrap-snslogo{
  display: flex;
  justify-content: space-between;
}

.footer-wrapper__sns__icon1{
  color:white
}

.socialEffect__link {
  margin: .3em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #bfbfbf;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  transition: transform ease-out 0.2s;
}

.socialEffect__box li {
  display: inline-block;
}


/* インスタ用アイコン設定 */


/* フェイスブック用アイコン設定 */
.icon-facebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-facebook-f {
  display: inline-block;
  color: #fff;
}
.icon-facebook:hover {
  background: #fff;
  transform: scale(0.9);
}



/* ツイッター用アイコン設定 */
.icon-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-twitter {
  display: inline-block;
  color: #fff;
}
.icon-twitter:hover {
  background: #ggg;
  transform: scale(0.9);
}





@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
  @media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  .header-wrapper__nav__list__item a{
    font-size: 10px;

  }
  header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}
}




@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .header-wrapper__nav__list__item a {
    font-size: 4px;
  }


 .f-ttl{
  font-size: 32px;
 } 

.news-wrap-botton {
    left: 40%;
    margin-bottom: 5%;
    padding: 8px;
}


.news-wrap__con__list__item__date{
  font-size: 10px;
}

.f-ttl {
    font-size: 1.75rem;}


.news-wrap__con__list__item__head{
  font-size: 10px;
}

.news-wrap-botton a {
  font-size: 12px;
  padding: 0;


}

.number{
  text-align: center;
}

.left-inqu h1{
  text-align: center;
}

.left-inqu {
    text-align: center;
}

.create-title {
    text-align: center;
    padding: 5%;
    font-size: 1.0rem;
}
.comment-create{
  font-size: 10px;
}

.overlay-text p{
  font-size: 10px;
}


li.footer-wrapper__list__item {
    font-size: 3px;}




li.footer-wrapper__nav__list__item {
    font-size: 3px;
}




}











@media screen and (max-width: 414px) {

  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
.header-wrapper__nav__list__item a{
    font-size: 6px;
  }
.news-wrap__ttl {
    width: 25%;
    text-align: center;
}

.wrap-pic {
    display: block;
    justify-content: space-evenly;
}

.s-ttl__1 {
    display: inline-block;
    font-size: 1.0rem;
    font-family: Noto;
    text-align: center;
}

html,
.news-wrap {
    display: block;

}

.c-articleList-item .c-articleListText {
    background: rgba(255, 255, 255, .95);
    margin: 0 15px;
    padding: -7px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.number{
  text-align: center;
}

.left-inqu h1{
  text-align: center;
}

.left-inqu {
    text-align: center;
}

ul .footer-wrapper__list__item {
    padding-top: 22px;
    padding-bottom: 22px;
}

.footer-wrapper__nav__list__item {
    padding-top: 22px;
    padding-bottom: 22px;
}


.icon-pic img {
    width: 50px;
    height: auto;
    margin-left: 60%;
}

}


@media screen and (max-width: 375px){

 
 .news-wrap-botton {
    left: 35%;
    margin-bottom: 5%;
    padding: 8px;
} 

.news-wrap__ttl {
    width: 0%; 
    text-align: center;
}

.s-ttl__1 {
    display: inline-block;
    font-size: 14px;
    font-family: Noto;
    text-align: center;
}


.wrap-pic {
    display: block;
    justify-content: space-evenly;
}

.comment-create{
  width: 60%;
    margin: 0 auto;
}


.create-title {
    text-align: center;
    padding: 5%;
    font-size: 14px;
}

.icon-pic img {
    width: 58px;
    height: auto;
    margin-left: 60%;
}




}