@charset "UTF-8";

html {
  font-size: 16px;
    background-color: #FEF3F4;

}




body {
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
  background-color: #FEF3F4;

  
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

nav.header-wrapper__nav {
    width: 80%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
}

  border-top: solid 4px #aaaaaa;



nav.header-wrapper__nav {
    width: 80%;
}


.header-wrapper__logo {
  width: 15rem;
}

.header-wrapper__logo img {
  width: 30%;
}

.top-wrapper.inner {
    aspect-ratio: 2 / 1;

  display: table;
  width: 100%;

  }
  

  .top {
  background-image: url("../img/1246813_s.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
    
}

.top-wrapper__all__left__dw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5% 0;
  position:relative;
  
}

.top-wrapper__all__left{
  
}

.top-wrapper__all__left__dw__one {
   
}

.top-wrapper__all__left__dw__one img {
  margin-right: 50px;
 width: 238px;
    height: 84px;
        margin-bottom:50px


}

.title-wrap{
  display: table;
  width: 100%;
}

.ttl__1{
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}



.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 2%;

}






.f-ttl {
  font-size: 2.75rem;
  color: #fff;
  position: absolute;
  z-index: 1;
  text-align: center; /* テキストを中央に寄せる */
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端を親要素の中央に配置 */
  left: 0; /* 左端を親要素の左端に配置 */
  width: 100%; /* 横幅を親要素の幅に合わせる */
   transform: translateY(-50%) 
  margin: 0; /* マージンをゼロに設定 */
  color: white; /* テキストの色を白に設定（背景に合わせて調整） */
  z-index: 1; /* テキストが背景よりも前面に表示されるようにする */
}


.contents-title{
  width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

.s-sectionHeadline{
  text-align: center;
}


.c-top-recruit__conts {
    width: 42.98246%;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-right: 64px;
    padding-left: 64px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 20px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.c-top-recruit {
    display: flex;
    position: relative;
    overflow: hidden;
}

.c-top-recruit__block {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 24.125rem;
}
.c-top-recruit__image {
    width: 62.71429%;
    height: 100%;
    max-height: 28.125rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    transform: translateY(-50%);
}

.c-top-recruit__inner {
    width: 100%;
}

.l-container {
    padding-right: 32px;
    padding-left: 32px;
}
.c-top-recruit__conts {
    width: 42.98246%;
    padding-top: 127px;
    padding-bottom: 128px;
    padding-right: 64px;
    padding-left: 64px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 226px;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.s-sectionHeadline span {
    display: block;
    font-family: Roboto;
    font-weight: 700;
}

.s-interviewLarge-inner {
    padding: 70px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.s-interviewLarge .c-articleList {
    margin-bottom: 170px;
}
.c-articleList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.c-articleList {
    list-style: none;
    padding-left: 0}

.s-interviewLarge .c-articleList-item {
    width: calc(50% - 40px);
    margin-right: 80px;
    margin-bottom: 50px;
}
.s-interviewLarge .c-articleList-item:nth-child(even) {
    margin-right: 0;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
}

.s-interviewLarge .c-articleListImage-background {
    background-color: #f0f0f0;
    -webkit-transform: translate(20px, 20px);
    -ms-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
}


img{
  width: 100%;
}

.s-interviewLarge .c-articleListImage.is-slide {
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
    opacity: 1;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.s-interviewLarge .c-articleListText {
    margin-bottom: 20px;
}

.c-articleList-item .c-articleListText {
    background: rgba(255, 255, 255, .95);
    margin: 0 15px;
    padding: 20px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}


.number{
  color: #129CE9;
}

.left-inqu{
  width: 100%;
}

.re-touch{
    background-color: #000;


  }


  .service-content{
    background-color: #08193E;
  }
.fee-inqu{
  padding: 0%;
}

.right-inqu{
  width: 100%;
}
.inquiry {
    background-color: #129CE9; /* 背景色を青に設定 */
    color: white; /* 文字色を白に設定 */
    padding: 15px 20px; /* パディングを追加（任意の値に調整） */
}
.number{
  padding-top: 3%;
}
.wrap-question{
  padding: 3%;
  display: flex;
  justify-content: space-around;
color: #fff;
  width: 60%;
  margin: 0 auto;
}



.wrap-question{
  padding: 3%;
  display: flex;
  justify-content: space-around;
color: #fff;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.header-wrapper__list__item a{
  color: #fff;

}


.header-wrapper__nav__list__item a{
  color: #000;
}

.footer-wrapper{
color: #fff;
  background-color: #08193E
}

li .footer-wrapper__list a{
  color: #fff;
}


.socialEffect__box img{
  width: 50%;
}


.footer-wrapper__list{
  display: flex;
  top: 0;
  color: #fff;
  width: 100%;
}

ul.footer-wrapper__list {
    margin: auto;
}

.footer-wrapper__list li{
  color: #fff;
}

.footer-wrapper__list__item a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

/* メニュー項目にホバー時のスタイルを追加（任意） */
.footer-wrapper__list__item a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}


.footer-wrapper__sns {
  text-align: center;
}

.footer-wrapper__sns__icons {
  list-style: none;
  padding: 0;
}

.icon-pic img {
  width: 100px; /* 幅を100pxに設定 */
  height: auto; /* 高さは自動調整 */
}


.footer-wrapper__sns__icon {
  display: inline-block;
  margin-right: 20px; /* アイコン間の間隔を設定 */
}

/* 他の既存のスタイルはそのまま */
.wrap-snslogo{
  display: flex;
  justify-content: space-between;
}

.footer-wrapper__sns__icon1{
  color:white
}

.socialEffect__link {
  margin: .3em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #bfbfbf;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  transition: transform ease-out 0.2s;
}

.socialEffect__box li {
  display: inline-block;
}


/* インスタ用アイコン設定 */


/* フェイスブック用アイコン設定 */
.icon-facebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-facebook-f {
  display: inline-block;
  color: #fff;
}
.icon-facebook:hover {
  background: #fff;
  transform: scale(0.9);
}

.img-youtube{
    width: 80%;
    height: 50%;
}
  



.footer-wrapper__nav__list__item a{
  color: #fff;
  
}

.footer-wrapper__list {
    display: flex;
    justify-content: space-around;
    top: 0;
    color: #fff;
    width: 100%;
}

.inquiry {
    width: 82%;
}

/* ツイッター用アイコン設定 */
.icon-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-twitter {
  display: inline-block;
  color: #fff;
}
.icon-twitter:hover {
  background: #ggg;
  transform: scale(0.9);
}




media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .title-exe h1{
    font-size: 20px;
  }
}











@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
}




@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
}











@media screen and (max-width: 414px) {
}
